<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">D3 Chart</h4>
                <div class="small text-muted">Custom</div>
            </div><!--/.col-->
            <div class="col-sm-7 d-none d-md-block">
                <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
                <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
                <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
                <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
                </div>
            </div><!--/.col-->
        </div><!--/.row-->
        <div class="chart-wrapper">
          <!-- d3 line chart -->
          <app-linechart2 [batteryData]="batteryData"></app-linechart2>
          <!--/. d3 line chart -->
        </div>
    </div>
    <div class="card-footer">
        <p>Battery cell voltage usage against time - Cell wise </p>
    </div>
  </div>
  <!--/.card-->
</div>
